body {
    background-color: rgb(235, 224, 224);
}


@media only screen and (min-width: 1025px) {
    body {
      background-color: rgba(0, 195, 255, 0.884);
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      font-size: x-large;
    }
    .Small {
        display: inline-block;
        width: 30%; }
    .Medium {
        display: inline-block;
        width: 30%;
        float: right; }
    .Large {
        display: inline-block;
        width: 30%;
        float: right; }
  }

@media screen and (min-width: 481px) and (max-width: 1024px) { 
    body {
        background-color: rgba(6, 235, 159, 0.856);
        font-family: monospace;
        font-weight: 800;
        font-size: large;
    }
    .Small {
        float: left;
        width: 66.66666666%; }
    .Medium {
        float: right;
        width: 33.333333%; }
    .Large {
        float: inline-end;
        width: 100%; }
}

@media only screen and (max-width: 480px) {
    body {
      background-color: rgba(255, 45, 45, 0.822);
      font-family: 'Courier New', Courier, monospace;
      font-weight: 500;
      font-size: x-small;
    }
  }
